	

    <!DOCTYPE html>
    <html>
    <head>
            <title> Soderia San Cayetano </title>
     
            <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
       
     
     
                           
    </head>
    <body>
     
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
     
           
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Regular link</a></li>
      <li class="dropdown" id="menu1">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          Dropdown
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
      ...
    </ul>
     
     
    <!--
     
    <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="brand" href="#">Genbeta Dev</a>
         <ul class="nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="#about">Bio</a></li>
           <li><a href="#contact">Contacto</a></li>
         </ul>
       </div>
     </div>
    </div>
     
    <div class="container">
     <h1>Ejemplo de Bootstrap para Genbeta Dev</h1>
     <p>Plantilla ejemplo para el desarrollo de un proyecto web.</p>
    </div>
     
     
    -->
    </body>
    </html>

